@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
}

.testimonial {
    padding: 30px 100px;
}

article h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

article h1::after {
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}

.img {
    height: 200px;
    width: 200px;
    border: 3px solid #45e445;
    border-radius: 50%;
    margin-top: 60px;
}

blockquote {
    text-align: start;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

article h5 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 30px;
    letter-spacing: 1.5px;
}

article p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.title {
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    font-size: 25px;
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 768px) {
    blockquote {
        font-size: 16px;
    }
}