.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background-color: black;
    gap: 15px;
}

.section h2 {
    animation-iteration-count: infinite;
    animation-duration: 3s;
}