
li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: rgb(204, 204, 204);
  }
  
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(0, 33, 65);
  }
  .nav__brand {
    text-transform: uppercase;
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav div {
      animation-iteration-count: infinite;
      animation-duration: 3s;
  
  }

  .nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
  }
  
  @media screen and (max-width: 768px) {
    .nav__toggler {
      display: block;
      cursor: pointer;
    }
    .nav__menu {
      position: absolute;
      top: 7vh;
      right: 0;
      height: 85vh;
      width: 50vw;
      background: rgb(0, 33, 65);
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
      z-index: 2;
    }
  }
  /* Active Class */
  .nav__active {
    transform: translateX(0%);
  }
  
  /* Toggle Icon Animation */
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }