.circles {
    width: 250px;
    height: 250px;
    position: relative;
    perspective: 50000px;
    z-index: -1;
}

.circles span {
    color: #61dafb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: currentColor;
    width: 18.4%;
    height: 18.4%;
    border-radius: 50%;
}

.circles div {
    color: #61dafb;
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 13.32px solid;
    border-right: 5.12px solid;
    border-top: 13.32 solid transparent;
    border-radius: 100%;
}

.circles div:nth-child(1) {
    animation: anim-1 1s linear infinite;
}
.circles div:nth-child(2) {
    animation: anim-2 1s linear infinite;
}
.circles div:nth-child(3) {
    animation: anim-3 1s linear infinite;
}

@keyframes anim-1 {
    from {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(0);
    }
    to {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes anim-2 {
    from {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(0);
    }
    to {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes anim-3 {
    from {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(0);
    }
    to {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}

.wrapperHome {
    font-family: 'Cormorant Garamond', serif;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 300px;
    display: flex;
    font-size: 3rem;
    gap: 1rem;
    border-radius: 8%;
    overflow: hidden;
    min-height: calc(100vh - 60px);
}

.texts {

display: flex;
flex-direction: column;
gap: 10px;
}

.texts > span {
    color: #45e445;
}

.texts div {
    font-size: 1.7rem;
    color: #fff;
}

.myimg {
    width: 300px;
    height: 300px;
    margin-top: 1rem;
}

.myimg:hover {
    transform: scale(1.05);

}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    list-style: none;
}

.linkedinLink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid blue;
    gap: 10px;  
}
.linkedinLink:hover {
    color: #255784;
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 15px #2196f3, 0 0 30px #2196f3;   
}

.linkedinLink img {
    background-color:  white;
    width: 25px;
    border-radius: 50%;
}

.linkedinLink div {
    font-size: 25px;
}

.githubLink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 130px;
    height: 50px;
    border: 2px solid purple;
    border-radius: 8px;
    gap: 10px;
}

.githubLink:hover {
    color: #ff69b4;
    background-color: #ff007f;
    box-shadow: 0 0 5px #ff007f, 0 0 15px #ff007f, 0 0 30px #ff007f;
}
.githubLink div {
    font-size: 25px;
}

.githubLink img {
    width: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .circles {
        width: 60px;
        height: 60px;
        position: relative;
        perspective: 50000px;
    }

    .myimg {
        width: 120px;
        height: 120px;
        margin-top: 1rem;
    }

    .wrapperHome {
        margin-top: 10px;
        width: 350px;
        width: 350px;
        flex-direction: column-reverse;
    }
    .texts > span {
        font-size: 25px;
        color: #45e445;
    }
    
    .texts div {
        font-size: 20px;
        color: #fff;
    }

    .texts {
        margin-top: -40px;
    }

    .links {
        margin-top: 3px;
    }

    .linkedinLink {
        width: 90px;
        height: 40px;
    }

    .linkedinLink img {
        width: 18px;
    }
    
    .linkedinLink div {
        font-size: 13px;
    }

    .githubLink div {
        font-size: 13px;
    }
    
    .githubLink img {
        width: 18px;
    }
    .githubLink {
        width: 90px;
        height: 40px;
    }
}