@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.title {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    margin-top: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.cardImage {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #FFF;
    padding: 3px;
    border-radius: 50%;
}

.card {
    width: 320px;
    border-radius: 25px;
    background-color: #FFF;
}

.slideContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.imageContent, .cardContent {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContent {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.content {
    margin: 0 40px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #808080;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    right: 0;
    bottom: -40px;
    background-color: #808080;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.cardImage .cardImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description {
    font-size: 14px;
    color: #707070;
    align-items: center;
    word-break: break-all;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color:#4070f4 ;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #265df2;
}